* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.column {
    width: 30%;
    padding-bottom: 1%;
}

img {
    width: 100%;
}

.card {
    background-color: gray;
    text-align: center;
}

.ulnav {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: burlywood;
    color: white;

}

button {
    width: 100%;
    background: black;
    color: aliceblue;
}

li a {
    color: white;
}

.footer p {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.4%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup img {
    width: 100%;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.link {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.NavBar {
    margin-bottom: 2%;
}